.landing-banner {
    background: url('../Assets/5215.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; 
}
.landing-banner-right {
    width: 600px;
    height: 500px;
}
.landing-banner-left {
    width: 500px;
    height: 400px;
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    gap: 30px;
}
.tagline h1 {
    font-size: 44px;
    font-weight: 500;
}
.start-btn a{
    background: rgb(31, 30, 30);
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}
.tagline span {
    color: rgb(112, 26, 193);
}