.signinpage {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.sign-img {
    width: 450px;
    height: 600px;
}
.sign-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.signin-container {
    text-align: center;
    width: 350px;
    border-radius: 5px;
    height: fit-content;
}
.signin-container-heading h1 {
    text-align: center;
    font-size: 44px;
    font-weight: 400;
    padding: 25px 0;
}
.signin-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.signin-form input {
    background-color: #FAFAFA;
    width: 80%;
    height: 20px;
    padding: 10px;
    margin: auto;
    border: 1px solid rgb(185, 178, 178);
    border-radius: 3px;
    outline: 0;
}
.signin-form button {
    width: 80%;
    margin: auto;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
    background: #0095F6;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.signin-form button:hover {
    background: #0278c7;
}
.or-div {
    width: 80%;
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    background: rgb(123, 128, 132);
}
.or-div p {
    font-size: 14px;
    font-weight: 500;
    color: rgb(123, 128, 132);
    padding: 10px;
    background: #fff;
}
.login-with-fb {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.login-with-fb p {
    font-size: 14px;
    font-weight: 500;
    color: #385185;
    cursor: pointer;
}
.forgot-pass p {
    font-weight: 500;
    color: #00376b;
    font-size: 12px;
    cursor: pointer;
}
.signin-container-top {
    padding: 10px;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 5px;
}
.sign-up-alt {
    margin-top: 10px;
    border: 1px solid rgb(192, 188, 188);
    padding: 20px;
    border-radius: 5px;
}
.sign-up-alt p {
    font-size: 14px;
    color: #000000;
}
.sign-up-alt a {
    text-decoration: none;
    color: #0095F6;
    font-weight: 500;
    cursor: pointer;
}
.sign-up-alt a:active {
    color: #7fc7f8;
}

