.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    border-right: 1px solid #bab5b5;
}
.sidebar button {
    height: 32px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgb(95, 43, 226);
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.sidebar button:active{
    transform: scale(0.9);
}
.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.sidebar ul li {
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}
.sidebar ul li:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bab5b5;
}
.curr-user {
    display: flex;
    align-items: center;
    gap: 5px;
}
.curr-user img{
    width: 50px;
    border-radius: 50%;
}